<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blockly/9.2.1/blockly.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blockly/9.2.1/blocks_compressed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
    <title>C++ Blockly</title>
    <link rel="stylesheet" href="./templates/style.css">
</head>
<body>
    <header>
        <h1>C++ Blockly</h1>
        <div class="file-info"></div>
        <div id="searchContainer">
            <input type="text" id="searchInput" placeholder="Search for blocks(type ID ONLY)...">
            <button id="searchButton">Search</button>
        </div>
        <div class="actions">
            <button class="compile" id="c">編譯</button>
            <button class="run" id="r">執行</button>
            <button class="run_compile" id="c_r">編譯&執行</button>
            <button class="toggle-view" id="toggle-button" onclick="toggleView()">切換模式</button>
            <button class="start-tutorial-btn" id="start-tutorial">開始教學</button>
            <a href='https://hackmd.io/@cpp-blockly' target="_blank"><button class="help">尋求幫助?</button></a>
        </div>
    </header>
    <main id="main-container">
        <div class="blockly-workspace" id="blockly-workspace"></div>
        <div class="code-view">
            <div class="input-output">
                <div class="section">
                    <h3>轉換程式碼 <button onclick="copyText('code-output')">複製程式碼</button> <button onclick="downloadText('code-output', 'main.cpp')">下載程式碼</button></h3>
                </div>
                <div id="code-output"></div>
                <div class="section">
                    <h3>輸入測資 <button onclick="copyText('textarea')">複製測資</button> <button id="sent_data">送出測資</button> <button id="reset">重置測資</button></h3>
                    <textarea id="textarea" placeholder="請在這裡輸入測資..."></textarea>
                </div>
                <div class="section">
                    <h3>編譯/執行結果 <button onclick="copyText('report')">複製結果</button> <button onclick="downloadText('report', 'report.txt')">下載結果</button> <button id="reset_2">清除結果</button></h3>
                    <textarea readonly placeholder="結果將顯示在這裡..." id="report"></textarea>
                </div>
                <div class="section">
                    <footer>&copy; 2024 Bosen & EricbobXD.  All Rights Reserved.</footer>
                </div>
            </div>
        </div>
    </main>

    <!-- 遮罩與提示框 -->
    <div class="overlay" id="overlay"></div>
    <div class="highlight" id="highlight"></div>
    <div class="tooltip" id="tooltip">
        <p id="tooltip-text"></p>
        <button class="next-button" id="next-step">下一步</button>
    </div>

    <script src="system.js"></script>
    <script src="block.js"></script>
</body>
</html>
